@model PierresTreats.Models.Treat;

<div class="container">
  <h1>Treat Details - @Model.Name</h1>
  <p>@Model.Name</p>
  @if (Model.FlavorTreats.Count == 0)
  {
    <p>No Flavors are associated with this Treat.</p>
  }
  else
  {
    <h3>Flavors associated with this Treat:</h3>
    <ul>
      @foreach (var join in Model.FlavorTreats)
      {
        <li>
          <p>@join.Flavor.Name</p>
          @if (User.Identity.IsAuthenticated)
          {
            <button class="btn btn-block btn-danger delete-association" id="@join.FlavorTreatId">Remove Flavor</button>
          }
        </li>
      }
    </ul>
  }
  @if (User.Identity.IsAuthenticated)
  {
    <a href="/treats/edit/@Model.TreatId" class="btn btn-block btn-primary">Edit Treat</a>
  }
</div>
