@{
  ViewData["Title"] = "Home - Pierre's Treats";
}

<div class="container">
  <h1 class="display-4">Welcome to Pierre's Treats!</h1>
  <div class="container row">
    <div class="col-sm-6">
      <h3>Treats</h3>
      @if (ViewBag.treats.Count == 0)
      {
        <p>No Treats Available.</p>
        @Html.ActionLink("Add A Treat", "Create", "Treats", null, new { @class="btn btn-block btn-primary" })
      }
      else
      {
        <ul>
          @foreach (Treat t in ViewBag.treats)
          {
            <li>@t.Name</li>
          }
        </ul>
      }
    </div>

    <div class="col-sm-6">
      <h3>Flavors</h3>
      @if (ViewBag.flavors.Count == 0)
      {
        <p>No Flavors Available.</p>
        @Html.ActionLink("Add A Flavor", "Create", "Flavors", null, new { @class="btn btn-block btn-primary" })
      }
      else
      {
        <ul>
          @foreach (Flavor f in ViewBag.flavors)
          {
            <li>@f.Name</li>
          }
        </ul>
      }
    </div>
  </div>
</div>
